<mat-toolbar class="header-nav-style">
  <mat-toolbar-row>
    <div>
      <a class="navbar-brand" href="#" id="logo-app">
        <img src="assets/images/logo/white_logo.png" alt="Logo">
      </a>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon style="-webkit-text-fill-color:white">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="customize-menu">
      <button mat-menu-item>
        <mat-icon style="-webkit-text-fill-color:white">settings</mat-icon>
        <span class="style-text-color">Configuraciones</span>
      </button>
      <button mat-menu-item (click)="navigateAccountSettings()">
        <mat-icon style="-webkit-text-fill-color:white">supervisor_account</mat-icon>
        <span class="style-text-color">Cuenta</span>
      </button>
      <button mat-menu-item (click)="closeSession()">
        <mat-icon style="-webkit-text-fill-color:white">exit_to_app</mat-icon>
        <span class="style-text-color">Cerrar Sesión</span>
      </button>
    </mat-menu>
    <div>
      <a class="navbar-brand" href="#" id="logo-app">
        <img src="assets/images/profile/ImageProfile.png" alt="Image Profile">
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
