.style-text-first-color {
  color: #49A9F2;
}

.style-text-second-color {
  color: #1BA5A5;
}

.style-text-third-color {
  color: #D10F80;
}

.style-text-fourth-color {
  color: white;
}

.box {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 10px;
  width: 750px;
  height: 650px;
  border-color: #999999;
  border-style: solid;
}

.container-settings {
  position: relative;
  height: 650px;
  background-color: white;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  max-height: 560px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 5%;
}

.style-title {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 720px;
  background: url('/assets/images/wallpaper/blue-wallpaper.png') no-repeat top left;
  height: 50px;
  border-radius: 5px;
}

.style-btn-cancel {
  background: #FF7597;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  background: url('/assets/images/wallpaper/fucsia-wallpaper.png') no-repeat top left;
  padding: 2px 8px;
  height: 50px;
}

.style-btn-success {
  background: #1BA5A5;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  background: url('/assets/images/wallpaper/green-wallpaper.png') no-repeat top left;
  padding: 2px 8px;
  height: 50px;
}

.style-btn-options {
  background: #707070;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  background: url('/assets/images/wallpaper/gray-wallpaper.png') no-repeat top left;
  padding: 2px 8px;
  height: 50px;
}


table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: 15px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

button {
  width: 40%;
}

.style-btn-rigth-margin {
  margin-right: 5%;
}

.style-margin-top {
  margin-top: 2%;
}

.style-margin-medium {
  margin-top: 6%;
}

.style-text-bold {
  font-weight: bold
}

.align-middle {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
}

#btn-succes,
#btn-cancel {
  display: inline-block;
}

.align-left {
  padding-left: 10%;
}

.align-center {
  text-align: center;
}

p {
  font-size: 20px;
  color: white;
}

.remove-background {
  border: none;
  background: none;
}

.margin-small {
  margin: 2%;
}

.style-margin-top-small {
  margin-top: 10px;
}

.style-textfield {
  background: #A191D8;
  border: #514972;
  border-style: solid;
  border-width: 1px;
}
