<div *ngFor="let device of devices">
  <div class="row">
    <div class="col-11">
      <div class="first-cell">
        <label>
          <span>{{device.device_type}}</span>
        </label>
      </div>
      <div class="second-cell">
        <label>
          <span>{{device.device}}</span>
        </label>
      </div>
      <div class="third-cell">
        <label>
          <span [className]="device.connected == 'Conectado' ? 'active' : 'inactive'">{{device.connected}}</span>
        </label>
      </div>
    </div>
    <div class="col-1">
      <div class="fourth-cell">
        <fa-icon [icon]="faEllipsisV" ></fa-icon>
      </div>
    </div>
    <hr>
  </div>
</div>
