<mat-card class="box">
  <mat-card-title class="style-title align-middle">
    <div class="row">
      <div class="col-10 align-left">
        <p class="">Dispositivos</p>
      </div>
      <div class="col-2">
        <button class="remove-background" (click)="navigate()"><fa-icon [icon]="faPlus" style="color:white"></fa-icon></button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="container-devices">
      <app-devices-item></app-devices-item>
    </div>
  </mat-card-content>
</mat-card>
