<footer class="text-center bg-black footer-border ">
  <div class="row text-white footer-brand ">
    <div class="col-lg-6 col-md-6 mb-4 mb-md-0 align-middleware">
      Copyright © 2023 AlarmaxPro Colombia LTDA
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-md-0 align-middleware">
      Aviso legal
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-md-0 align-middleware">
      Política de privacidad
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-md-0 align-middleware">
      Política de cookies
    </div>
  </div>
</footer>
