.footer-brand {
  height: 40px;
  width: auto;
}

.footer-border {
  border-style: solid;
  border-color: white;
}

.align-middleware {
  display: flex;
  justify-content: center;
  align-items: center;
}
